:root {
  --color-orange: rgb(242, 108, 79);
  --color-grey: rgb(99, 106, 121);
  --color-dark: rgb(34, 34, 34);
  --color-yellow: rgb(249, 200, 14);
  --color-violet: rgb(130, 104, 252);
  --color-text: rgb(206, 117, 49);
  --color-bkg: rgb(239, 239, 239);
  --color-violet-dark: rgb(104, 70, 253);
  --color-red: rgb(238, 58, 63); }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-bkg); }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/laptop.jpg);
  height: 75vh;
  background-size: cover;
  background-position: center bottom;
  position: relative; }

.user {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 25%); }
  .user__photo {
    height: 30rem;
    border-radius: 100%; }

.user::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 110%;
  width: 110%;
  border-radius: 100%;
  z-index: -1000;
  animation: shadow 4s infinite;
  background-color: transparent;
  border: 6px solid var(--color-bkg); }

.user-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch; }
  .user-nav__links {
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    transition: all .2s;
    border-bottom: 2px solid var(--color-orange);
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.4); }
    .user-nav__links:not(:last-child) {
      margin-right: 1rem; }
    .user-nav__links:hover {
      background-color: var(--color-orange); }
  .user-nav__right {
    margin-right: 2rem; }
  .user-nav__switch {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    padding: .5rem 1.2rem;
    border: 1px solid var(--color-bkg);
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.4);
    transition: all .2s; }
    .user-nav__switch:not(:last-child) {
      margin-right: -.5rem; }
    .user-nav__switch:not(:first-child) {
      margin-left: -.5rem; }
    .user-nav__switch-l {
      border-radius: 25px 0 0 25px;
      background-color: var(--color-violet); }
    .user-nav__switch-r {
      border-radius: 0 25px 25px 0;
      background-color: transparent; }
    .user-nav__switch:hover {
      background-color: var(--color-violet-dark); }
  .user-nav .part {
    font-size: 2rem;
    color: white;
    background-color: transparent; }

@keyframes shadow {
  0% {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(1) translate(-50%, -50%); }
  50% {
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    transform: scale(0.9) translate(-55.5%, -55.7%); }
  100% {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(1) translate(-50%, -50%); } }

.about {
  height: 40rem;
  width: 100%; }

.contact {
  height: 40rem;
  width: 100%;
  background-image: linear-gradient(105deg, #636a79 50%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../img/footer.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; }

.form {
  margin-left: 10rem;
  font-family: inherit;
  font-size: 1.2rem; }
  .form__input {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column; }
  .form__field {
    padding: 1rem;
    width: 25rem;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0.6rem 0.6rem -0.6rem rgba(0, 0, 0, 0.6); }
  .form__field:focus {
    outline: none; }
  .form__field::-webkit-input-placeholder {
    transform: translateX(50%);
    transition: all .2s; }
  .form__field:focus::-webkit-input-placeholder {
    transform: translateX(0%);
    opacity: 0;
    visibility: hidden; }
  .form__label {
    margin-top: .7rem;
    color: var(--color-bkg);
    margin-left: 1rem;
    transition: all .2s;
    transform: translateY(-3rem);
    opacity: 0;
    visibility: hidden; }
  .form__field:focus + .form__label {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; }
