.contact {
    height: 40rem;
    width: 100%;
    background-image: linear-gradient(105deg, 
    rgba(99, 106, 121, 1) 50%, 
    rgba(#000, .5) 50%,
    rgba(#000, .5) 100%), 
    url(../img/footer.jpg);
    background-size: cover;
    background-position: center;
}

.form {
    &__input {

    }

    &__name {

    }

    &__email {

    }

    &__label {

    }

    &__radio-male {

    }

    &__radio-female {

    }

    &__label-radio {

    }

    &__radio-style {
        
    }

    &__text {

    }

    &__btn {

    }
}