.projects {
    height: 50rem;
    width: 100%;
    padding: 4rem 3.5rem;
    background-color: rgb(197, 197, 197);


    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-bkg);
        height: 100%;
        width: 100%;
        padding: 2rem;
        box-shadow: 0 1rem 1rem rgba(0,0,0, .3);
    }
    &__heading {
        font-size: 3rem;
        letter-spacing: 1.5px;
        color: var(--color-text);
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &__para {
        font-size: 1.5rem;
        color: var(--color-dark);
        letter-spacing: .8px;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    &__row {
        display: flex;
        flex-direction: row;
    }

    .card {
        height: 10rem;
        width: 10rem;
        background-color: red;
    }
}