.projects {
    height: 50rem;
    width: 100%;
    padding: 4rem 3.5rem;
    background-color: rgb(197, 197, 197);

    .heading-text {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__container {
        background-color: var(--color-bkg);
        height: 100%;
        width: 100%;
        padding: 2rem;
        box-shadow: 0 1rem 1rem rgba(0,0,0, .3);
    }
    &__heading {
        font-size: 3rem;
        letter-spacing: 1.5px;
        color: var(--color-text);
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &__para {
        font-size: 1.5rem;
        color: var(--color-dark);
        letter-spacing: .8px;
    }
}

.cards {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    &__row {
    }


    .card {
        height: 20rem;
        width: 30rem;
        background-color: var(--color-bkg);
        float: left;
        border: 1px solid #777;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}