.header {
    background-image: linear-gradient(rgba(0,0,0, .5),rgba(0,0,0, .5)), url(../img/laptop.jpg);
    height: 75vh;
    background-size: cover;
    background-position:center bottom;
    position: relative;
}

.user {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 25%);
    &__photo {
        height: 30rem;
        border-radius: 100%;
        border: 5px solid #fff;
    }
}