// variables 

:root {
    --color-orange: rgb(242, 108, 79);
    --color-grey: rgb(99, 106, 121);
    --color-dark: rgb(34, 34, 34);
    --color-yellow: rgb(249, 200, 14);
    --color-violet: rgb(130, 104, 252);
}

